@model MortgageSystem.Models.trans_transaction_header

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mortgage Inventory - Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            From Date:
        </dt>

        <dd>
            @ViewBag.enc_date_started
        </dd>

        <dt>
            To Date:
        </dt>

        <dd>
            @ViewBag.enc_date_ended

        </dd>

        <dt>
            Comment:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            Branch:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_branch.description)
        </dd>

        <dt>
            Mortgagor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_customer.last_name),
            @Html.DisplayFor(model => model.crm_customer.first_name)
            @Html.DisplayFor(model => model.crm_customer.middle_name)
        </dd>

        <dt>
            Void Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_status.description)
        </dd>

        <dt>
            Mortgage Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_status1.description)
        </dd>

        <dt>
            Period:
        </dt>

        <dd>
            @ViewBag.enc_period
        </dd>

        <dt>
            Rate:
        </dt>

        <dd>
            @ViewBag.rate
        </dd>

        <dt>
            Amount:
        </dt>

        <dd>
            @ViewBag.enc_amt_borrowed
        </dd>

        <dt>
            Daily Payable:
        </dt>

        <dd>
            @ViewBag.enc_daily_amt_paypable
        </dd>

        <dt>
            Total Payable:
        </dt>

        <dd>
            @ViewBag.enc_total_amount
        </dd>

        <dt>
            Daily Interested:
        </dt>

        <dd>
            @ViewBag.enc_daily_interest
        </dd>

        <dt>
            Total Interest:
        </dt>


        <dd>
            @ViewBag.enc_total_interest
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
