@model MortgageSystem.Models.trans_transaction_header

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h3>Trans#:@ViewBag.id</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mortgage Cash</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="Comment:">From Date:</label>
            <div class="col-md-10">
                <input autocomplete="off" value="@ViewBag.enc_date_started" class="form-control required text-box single-line datepicker compute_date" data-date-format="mm/dd/yyyy" id="from_date" name="from_date" value="" type="text">
            </div>
        </div>


        <div class="form-group">
            @Html.Label("To Date:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("to_date", new { htmlAttributes = new { @class = "form-control required", autocomplete = "off", @readonly = "readonly", required = "required", @Value = ViewBag.enc_date_ended } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comment:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("comment", new { htmlAttributes = new { @class = "form-control required", autocomplete = "off" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.crm_branch_id, "Branch", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("crm_branch_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.crm_branch_id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.crm_customer_id, "Customer/Mortgagor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("crm_customer_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.crm_customer_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mf_is_void_status_id, "Void Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mf_is_void_status_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mf_is_void_status_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mf_open_status_id, "Mortgage Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mf_open_status_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mf_open_status_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("period", "Period", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("period", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("rate", "rate", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rate", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("amount", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", autocomplete = "off", required = "required", @Value = ViewBag.enc_amt_borrowed } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Daily Payable", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("daily_payable", new { htmlAttributes = new { @class = "form-control required", @readonly = "readonly", @Value = ViewBag.enc_daily_amt_paypable } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Total Payable", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("total_amount", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.enc_total_amount } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Daily Interest", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("daily_interest", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.enc_daily_interest } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Total Interest", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("total_interest", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.enc_total_interest } })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="inventory" id="inventory">

    </div>
    <div class="inventory_list" id="inventory_list">

    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        add_item();
        list_item();

        function add_item()
        {
            $.ajax({
                url: '/MortgageInventory/Inventory', //Controller name
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                $('#inventory').html(result);
            })
            .error(function (xhr, status) {
                $('#inventory').text("Page not Found!");
            })

        }

        function list_item()
        {
            $.ajax({
                url: '/MortgageInventory/Inventory_list/' + @ViewBag.id, //Controller name
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .success(function (result) {
                    $('#inventory_list').html(result);
                })
                .error(function (xhr, status) {
                    $('#inventory_list').text("Page not Found!");
                })

        }
    </script>



}
