
@{
    Layout = null;
}

<!DOCTYPE html>
<h2>Items list</h2>
<html>

<body> 
    <table class="table">
        @foreach (var item in ViewBag.inventory)
        { 
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
            <th>UOM</th>
            <th>Extended</th>
            <th>Action</th>
           
            <tr class="del_line">
                <td>@item.inv_item.short_description</td>
                <td>@item.qty</td>
                <td>@item.price_w_tax</td>
                <td>@item.inv_uom.description</td>
                <td>@item.extended_total</td>
                <td>
                    <button type="button" value="@item.id" id="delete" name="delete" class="delete btn btn-danger">-</button>
                </td>
            </tr>
        }
    </table>
</body>
</html>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".delete").click(function () {
            var id = $(this).val();
                $.ajax({
                    type: "GET",
                    url: '/MortgageInventory/delete_inventory/' + id, //Controller name
                    success: function (xhr) {
                        alert("items has been remove.");
                        list_item();
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
        });
    });
    
    //$("#delete").click(function () {

    //    alert($('#txt_id').val());
    //    //clone.children('.btn').bind('click');

    //    $.ajax({
    //        type: "GET",
    //        url: '/MortgageInventory/delete_inventory/' + $('#txt_id').val(), //Controller name
    //        success: function (xhr) {
    //            alert("items has been added.");
    //            list_item();
    //        },
    //        error: function (xhr) {
    //            alert(xhr);
    //        }
    //    });
    //});
    
</script>