@model MortgageSystem.Models.trans_transaction_header

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>trans_transaction_header</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sales_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sales_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_branch.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_branch.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_branch1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_branch1.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_branch2.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_branch2.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_customer.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_customer.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_user1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_user1.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inv_discount.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inv_discount.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mf_document_type.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_document_type.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mf_status.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_status.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mf_status1.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_status1.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_transaction_type.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_transaction_type.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
