@model IEnumerable<MortgageSystem.Models.crm_mortgage_daily_payables>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            From Date
        </th>
        <th>
           To Date
        </th>
        
        <th>
            Comment
        </th>
        <th>
            Branch
        </th>
        
        <th>
            Customer/Mortgagor
        </th>
        <th>
            Encoded by
        </th>
        
        <th>
            Void Status
        </th>
        <th>
            Grant Status
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.date_started.ToString("MM/dd/yyyy")
        </td>
        <td>            
            @item.date_ended.ToString("MM/dd/yyyy")
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.trans_transaction_header.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_transaction_header.crm_branch.description)
        </td>
        
        <td>
            
            @Html.ActionLink(item.crm_customer.last_name +", " 
                            + item.crm_customer.first_name + " "
                            + item.crm_customer.middle_name,
                            "Payment_form", 
                            new { id=item.trans_transaction_header_id })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.crm_user.username)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.trans_transaction_header.mf_status.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_transaction_header.mf_status1.description)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.trans_transaction_header_id }) |
            @Html.ActionLink("Details", "Details", new { id= item.trans_transaction_header_id }) |
            @Html.ActionLink("Delete", "Delete", new { id= item.trans_transaction_header_id })
        </td>
    </tr>
}

</table>
