@model MortgageSystem.Models.trans_transaction_header

@{
    ViewBag.Title = "Create";
}

<h2>Payment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mortgage Cash</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Last Paid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.Editor("message", new { htmlAttributes = new { @class = "form-control required", @value = ViewBag.message } })
            </div>
        </div>

        <!-- last_payment_date -->
        <input type="hidden" name="last_payment_date" value="@ViewBag.last_payment_date" />
        

        <div class="form-group">
            @Html.Label("Payment for date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("sales_date", new { htmlAttributes = new { @class = "form-control required", autocomplete = "off", required = "required", @Value = DateTime.Now.ToShortDateString() } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mortgagor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("mortgagor", new { htmlAttributes = new { @class = "form-control required",@readonly="readonly", @value=ViewBag.mortgagor } })
            </div>
        </div>

        
        <div class="form-group">
            @Html.Label("mf_payment_type_id", "Payment type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mf_payment_type_id", null, htmlAttributes: new { @class = "form-control" })               
            </div>
        </div>

        <div class="form-group">
            @Html.Label("crm_collector_id", "Collector", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("crm_collector_id", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        

        <div class="form-group">
            @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("amount", new { htmlAttributes = new { @class = "form-control", autocomplete = "off", required = "required",@value=ViewBag.amount } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("comment", new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



}
