@model MortgageSystem.Models.trans_transaction_header

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h2>@ViewBag.header_id</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sales Invoice</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="Comment:">Sales Date:</label>
            <div class="col-md-10">
                <input autocomplete="off" class="form-control required text-box single-line datepicker" data-date-format="mm/dd/yyyy" required="required" id="sales_date" name="sales_date" value="" type="text">
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Comment:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("comment", new { htmlAttributes = new { @class = "form-control required", autocomplete = "off" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.crm_branch_id, "Branch", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("crm_branch_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.crm_branch_id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.crm_customer_id, "Customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("crm_customer_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.crm_customer_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

        

    <h3>Select Item</h3>

    @*<div class="content">
        <div id="data-container" class="data-container">
            <table class="table">
                <tr class="compute_ext_amoun">
                    <td>
                        @Html.DropDownList("inv_item_id", null, htmlAttributes: new { @class = "form-control compute_inventor 1y", required = "required" })
                    </td>
                    <td class="compute_amount">
                        <input autocomplete="off" class="form-control text-box single-line 1" id="qty" name="qty" value="" type="text" required="required">
                    </td>
                    <td class="compute_amount">
                        <input autocomplete="off" class="form-control  text-box single-line 1" id="price" name="price" value="" type="text" required="required">
                    </td>
                    <td>
                        @Html.DropDownList("inv_uom_id", null, htmlAttributes: new { @class = "form-control compute_inventory 1", required = "required" })
                    </td>
                    <td>
                        <input autocomplete="off" class="form-control  text-box single-line 1" id="extended" name="extended" value="" type="text" required="required">
                    </td>
                    <td class="plus-button">
                        <input type="button" id="add_item" name="add_item " value="+" class="btn btn-primary plus-button" />
                        
                    </td>
                    <td>
                        <input type="hidden" id="id" class="1" name="id" value="@ViewBag.id" />
                    </td>
                </tr>
            </table>
            </div>
        </div>*@

    <div class="content">
        <div id="data-container" class="data-container">            
            @Html.DropDownList("inv_item_id", null, htmlAttributes: new { @class = "compute_inventor 1", required = "required" })
            <input id="qty" class="1 required text-box single-line" autocomplete="off" name="qty" value=""  placeholder="Qty" type="text">
            <input id="price" class="1 required text-box single-line" autocomplete="off" name="price" value="" placeholder="Price"  type="text">
            @Html.DropDownList("inv_uom_id", null, htmlAttributes: new { @class = "compute_inventory 1", required = "required" })
            <input id="extended" class="1 required text-box single-line" autocomplete="off" name="extended" placeholder="Extended Total" value="" type="text">
            <button class="plus-button btn-primary" type="button">+</button>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">



       
        //#1 Clone event
        $(document).ready(function ()
        {
            $('.plus-button').click(AddNewRow);
        });

        function AddNewRow(event)
        {
            var clone = $('.data-container').last().clone().appendTo('.content');
            clone.children('.1').val(''); //delete all values of your clone
            clone.children('.plus-button').bind('click', AddNewRow);

            var btn = $(this).parent().find('.plus-button');  //The cloned button
            btn.text('-');
            btn.removeClass('plus-button');
            btn.addClass('btn-danger');
            btn.unbind('click');  //unbind the "old" click event
            btn.click(RemoveRow);
        }

        function RemoveRow(event)
        {
            $(this).parent().remove();
        }
        
    </script>



}
