@model MortgageSystem.Models.inv_pricebook_header

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>inv_pricebook_header</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_branch.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_branch.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_customer.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_customer.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inv_pricebook_type.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inv_pricebook_type.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mf_status.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mf_status.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
