@model MortgageSystem.Models.crm_seminar_scheduler_mf

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>crm_seminar_scheduler_mf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.scheduled_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduled_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_employee.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_employee.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_user.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
