@model IEnumerable<MortgageSystem.Models.inv_pricebook_detail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.price_vat_ex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_vat_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inv_pricebook_header.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inv_uom.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inv_item.short_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mf_status.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.price_vat_ex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price_vat_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inv_pricebook_header.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inv_uom.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inv_item.short_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mf_status.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
